# SF-DAT-21 | Lab 05: Storms, `pandas`, and GitHub

## OJECTIVES

This session closes the course's first unit: "Research Design and Data Analysis" in which we covered important building blocks for performing data science work:
- Research Design
- Data Manipulation, dataset tidying and Exploratory Data Analysis with `pandas`
- Statistics and Visualization with `pandas`

Starting with the next session, we will shift our attention to building predictive models.  However, the skills you've learned so far will prove to be very fruitful as a data scientist (e.g., mastering tidying data will save you hours of time and make your data much easier to work on).  This lab gives you an opportunity to put into practice all these concepts.

## BACKGROUND

Severe weather events cause public health and economic problems, many resulting in fatalities, injuries, and property/crop damage.  Preventing such outcomes to the extent possible is a key concern.

Using the U.S. National Oceanic and Atmospheric Administration's (NOAA) storm database (in the `datasets` folder alongside some documentation), which tracked characteristics of major weather events in the United States from 1950 to 2011, you will study and report what types of events cause most of the fatalities, injuries, and economic damages.

## PROMPT

You'll work in group of 4 (no less) to 5 (no more), collaborate using git, GitHub, and the SF-DAT-21-students remote repository here: https://github.com/paspeur/SF-DAT-21-students

Specifically:
- Do individual work inside the directory named after your GitHub username.  This means copying this iPython Notebook (just this notebook `Storm.ipnb`) in your directory.  Commit and push your changes regularly.  (We'll go over it in class)
- Name your team and have one person in your team to create a new directory at the root of the repository in the form `class-05-XXX`.  Copy over there this notebook.
- How exactly you collaborate among yourself (as long as it works) is left for you to decide.  We are there to help you.

## DELIVERABLES

- Your team deliverable (more below) will be the notebook in your team directory; your individual deliverable will be the notebook in your personal directory (it can be the final team notebook but I'm mostly interested in seeing you building proficiency with git/GitHub and this is one way to demonstrate)
- Your notebook should not just be code, not text either.  I'm looking for both text and code, one supporting the other in a logical manner.
- More specifically, I want you to approach your work following the data science workflow.

## DATA SCIENCE WORKFLOW

[Don't read into each question too literally.  The lab is relatively open-ended; the goal is to improve the mastery of your new skills and have fun doing it.]

- **1. IDENTIFY the Problem**
  - Write a SMART research question around the vaguely following objective: "What types of events result in most fatalities, injuries, and economic damages?"


- **2. ACQUIRE the Data**
  - The raw dataset you'll work with is in the `datasets` folder (at the root of the repository) alongside some documentation
  - Questions you might ask yourself:
    - _What type of data is it?  (e.g., cross-sectional or longitudinal)_
    - _How well was the data collected?_
    - _Is there much missing data?_
    - _Was the data collection instrument calibrated?_
    - _Is the dataset aggregated?_
    - _Do we need pre-aggregated data?_


- **3. PARSE the Data**
  - [Again, the documentation is in the `datasets` folder]
  - You need to understand what you're working with
  - To better understand your data
    - _Create or review the data dictionary_
    - _Perform exploratory surface analysis_
    - _Describe data structure and information being collected_
    - _Explore variables and data types_


- **4. Mine the Data**
  - Mine the Data
  - Determine sampling methodology and sample data
  - Format, clean, slice, and combine data in Python
  - Create necessary derived columns from the data (new data)


- **7. Present the Results**
  - Present the Results
  - Summarize findings with narrative, storytelling techniques
  - Present limitations and assumptions of your analysis
  - Identify follow up problems and questions for future analysis

## DOCUMENTATION

- Some documentation for the dataset is in the `datasets` folder at the root of the repository
- `pandas` documentation: http://pandas.pydata.org/pandas-docs/stable/
- Slides from the previous sessions...

## IDEAS TO KEEP IN MIND

1. The datset is big.  You might want to use a small subset to get things working before moving on to the entire dataset.
2. Generate both tables and histograms to answer your questions.  That'll make it into a better presentation to your classmates.
3. At some point in time, you may want to split tidying up the dataset and the exploratory data analysis into different notebooks (multiple well defined notebooks make it easier to collaborate).  You could save your cleaned up dataset into disk (it should be small at this point) and load it from the other notebook.
4. If time allows, create a new tidy dataset reporting fatalities, injuries, and property/crop damage (min, max, median, Q1, Q3, mean, and variance) per calendar year and per state and save it as a CSV file.

## CODE TO GET YOU STARTED

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

%matplotlib inline
plt.style.use('ggplot')

In [2]:
df = pd.read_csv(os.path.join('..', 'datasets', 'Storms.csv.bz2'))

/Users/ruijiao.guo/anaconda/envs/py27/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (2,9,10,11,12,16,17,27,28,29,30,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1,4/18/1950 0:00:00,130,CST,97,...,8812,3051,8806,NaN,1
1,1,4/18/1950 0:00:00,145,CST,3,...,8755,0,0,NaN,2
2,1,2/20/1951 0:00:00,1600,CST,57,...,8742,0,0,NaN,3
3,1,6/8/1951 0:00:00,900,CST,89,...,8626,0,0,NaN,4
4,1,11/15/1951 0:00:00,1500,CST,43,...,8642,0,0,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...
902292,56,11/30/2011 0:00:00,10:30:00 PM,MST,7,...,0,0,0,EPISODE NARRATIVE: A strong cold front moved s...,902293
902293,30,11/10/2011 0:00:00,02:48:00 PM,MST,9,...,0,0,0,EPISODE NARRATIVE: A strong westerly flow alof...,902294
902294,2,11/8/2011 0:00:00,02:58:00 PM,AKS,213,...,0,0,0,EPISODE NARRATIVE: A 960 mb low over the south...,902295
902295,2,11/9/2011 0:00:00,10:21:00 AM,AKS,202,...,0,0,0,EPISODE NARRATIVE: A 960 mb low over the south...,902296
902296,1,11/28/2011 0:00:00,08:00:00 PM,CST,6,...,0,0,0,EPISODE NARRATIVE: An intense upper level low ...,902297

## ALL YOURS NOW...

In [4]:
df.shape

(902297, 37)

In [5]:
df.columns

Index([u'STATE__', u'BGN_DATE', u'BGN_TIME', u'TIME_ZONE', u'COUNTY',
       u'COUNTYNAME', u'STATE', u'EVTYPE', u'BGN_RANGE', u'BGN_AZI',
       u'BGN_LOCATI', u'END_DATE', u'END_TIME', u'COUNTY_END', u'COUNTYENDN',
       u'END_RANGE', u'END_AZI', u'END_LOCATI', u'LENGTH', u'WIDTH', u'F',
       u'MAG', u'FATALITIES', u'INJURIES', u'PROPDMG', u'PROPDMGEXP',
       u'CROPDMG', u'CROPDMGEXP', u'WFO', u'STATEOFFIC', u'ZONENAMES',
       u'LATITUDE', u'LONGITUDE', u'LATITUDE_E', u'LONGITUDE_', u'REMARKS',
       u'REFNUM'],
      dtype='object')

In [7]:
df.INJURIES.sum()

140528.0

In [8]:
df.FATALITIES.sum()

15145.0

In [11]:
print len(df.FATALITIES)
print df.FATALITIES.count()

902297
902297